#%RAML 0.8
baseUri: http://mocksvc.mulesoft.com/mocks/2130e7c7-b7bc-435f-bdf6-8251368245cb
title: AIRS Resource API
version: 0.1.0
mediaType: application/json
securedBy: [OAuth 2.0]
securitySchemes:
  - OAuth 2.0:
      type: OAuth 2.0
      describedBy:
            queryParameters:
                access_token:
                    description: |
                       Used to send a valid OAuth 2 access token. Do not use together with 
                       the "Authorization" header
                    type: string                    
      settings:
        authorizationUri: http://localhost:8085/authorize
        accessTokenUri: http://localhost:8085/access-token
        authorizationGrants: [token]
/authorize:
  displayName: Authorize
  get:
    description: Get user OAuth data
    responses:
      200:
        description: Success
        body: 
          application/text:
schemas:
  - agencies: !include agencyschema.json  
  - services: !include serviceschema.json 
  - servicegroups: !include servicegroupschema.json 
  - sites: !include siteschema.json  
  - siteservices: !include siteserviceschema.json    
/agencies:
  displayName: Agencies
  post:
    description: Create new Agency record(s)
    body: 
      application/json: 
        example: !include agencypostexample.json 
    responses:
     200:
        body:
          application/json:
            example: |
              {
                "status": "success"
              }
     400:
        description: Bad request, check request's parameters
        body:
          application/json:
            example: | 
             {
               result: {
                code: 400,
                info: "Bad Request" 
               }
             }
     500:
        body:
          application/json:
            example: |
              {
                "errorMessage": "Error processing AIRS request.  Please retry."
              }
          
  /{agencyID}:
  put:
    description: update existing Agency record
  delete: 
    description: delete existing agency record
  /search:
    displayName: Agency search    
    get:
      description:  AIRS database search implementation
      queryParameters:  
        keyword:
          description: "text search on indexed fields"
          required: false
          type: string
          example: "food,homeless,medical"
        createdBefore:
          description: "Record created or updated range - before"
          required: false
          type: date
        createdAfter:
          description: "Record created or updated range - after"
          required: false
          type: date
      responses:
       200: 
          body: 
            application/json: 
              example: | 
                { 
                 "id": 10 
                 }, 
                 { 
                 "id": 11
                  }, 
                  { 
                  "id": 12 
                   }
                   
/services:
  displayName: Services
  post:
    description: Create new service record(s)
    body: 
      application/json: 
        example: !include servicepostexample.json 
    responses:
     200:
        body:
          application/json:
            example: |
              {
                "status": "success"
              }
     400:
        description: Bad request, check request's parameters
        body:
          application/json:
            example: | 
             {
               result: {
                code: 400,
                info: "Bad Request" 
               }
             }
     500:
        body:
          application/json:
            example: |
              {
                "errorMessage": "Error processing AIRS request.  Please retry."
              }
          
  /{serviceID}:
  put:
    description: update existing Service record
  delete: 
    description: delete existing Service record
  /search:
    displayName: Services search    
    get:
      description:  AIRS database search implementation
      queryParameters:  
        keyword:
          description: "text search on indexed fields"
          required: false
          type: string
          example: "food,homeless,medical"
        createdBefore:
          description: "Record created or updated range - before"
          required: false
          type: date
        createdAfter:
          description: "Record created or updated range - after"
          required: false
          type: date
      responses:
       200: 
          body: 
            application/json: 
              example: | 
                { 
                 "id": 10 
                 }, 
                 { 
                 "id": 11
                  }, 
                  { 
                  "id": 12 
                   }
/servicegroups:
  displayName: ServiceGroups
  post:
    description: Create new Servicegroup record(s)
    body: 
      application/json: 
        example: !include servicegrouppostexample.json 
    responses:
     200:
        body:
          application/json:
            example: |
              {
                "status": "success"
              }
     400:
        description: Bad request, check request's parameters
        body:
          application/json:
            example: | 
             {
               result: {
                code: 400,
                info: "Bad Request" 
               }
             }
     500:
        body:
          application/json:
            example: |
              {
                "errorMessage": "Error processing AIRS request.  Please retry."
              }
          
  /{servicegroupID}:
  put:
    description: update existing ServiceGroup record
  delete: 
    description: delete existing ServiceGroup record
  /search:
    displayName: ServiceGroup search    
    get:
      description:  AIRS database search implementation
      queryParameters:  
        keyword:
          description: "text search on indexed fields"
          required: false
          type: string
          example: "food,homeless,medical"
        createdBefore:
          description: "Record created or updated range - before"
          required: false
          type: date
        createdAfter:
          description: "Record created or updated range - after"
          required: false
          type: date
      responses:
       200: 
          body: 
            application/json: 
              example: | 
                { 
                 "id": 10 
                 }, 
                 { 
                 "id": 11
                  }, 
                  { 
                  "id": 12 
                   }
/sites:
  displayName: Sites
  post:
    description: Create new Site record(s)
    body: 
      application/json: 
        example: !include sitepostexample.json 
    responses:
     200:
        body:
          application/json:
            example: |
              {
                "status": "success"
              }
     400:
        description: Bad request, check request's parameters
        body:
          application/json:
            example: | 
             {
               result: {
                code: 400,
                info: "Bad Request" 
               }
             }
     500:
        body:
          application/json:
            example: |
              {
                "errorMessage": "Error processing AIRS request.  Please retry."
              }
          
  /{siteID}:
  put:
    description: update existing Site record
  delete: 
    description: delete existing Site record
  /search:
    displayName: Site search    
    get:
      description:  AIRS database search implementation
      queryParameters:  
        keyword:
          description: "text search on indexed fields"
          required: false
          type: string
          example: "food,homeless,medical"
        createdBefore:
          description: "Record created or updated range - before"
          required: false
          type: date
        createdAfter:
          description: "Record created or updated range - after"
          required: false
          type: date
      responses:
       200: 
          body: 
            application/json: 
              example: | 
                { 
                 "id": 10 
                 }, 
                 { 
                 "id": 11
                  }, 
                  { 
                  "id": 12
                    } 
/siteservices:
  displayName: SiteServices
  post:
    description: Create new Siteservice record(s)
    body: 
      application/json: 
        example: !include siteservicepostexample.json 
    responses:
     200:
        body:
          application/json:
            example: |
              {
                "status": "success"
              }
     400:
        description: Bad request, check request's parameters
        body:
          application/json:
            example: | 
             {
               result: {
                code: 400,
                info: "Bad Request" 
               }
             }
     500:
        body:
          application/json:
            example: |
              {
                "errorMessage": "Error processing AIRS request.  Please retry."
              }
          
  /{siteserviceID}:
  put:
    description: update existing SiteService record
  delete: 
    description: delete existing SiteService record
  /search:
    displayName: SiteService search    
    get:
      description:  AIRS database search implementation
      queryParameters:  
        keyword:
          description: "text search on indexed fields"
          required: false
          type: string
          example: "food,homeless,medical"
        createdBefore:
          description: "Record created or updated range - before"
          required: false
          type: date
        createdAfter:
          description: "Record created or updated range - after"
          required: false
          type: date
      responses:
       200: 
          body: 
            application/json: 
              example: | 
                { 
                 "id": 10 
                 }, 
                 { 
                 "id": 11
                  }, 
                  { 
                  "id": 12
                    } 




